<template>
  <button type="button" @click="openModal" class="btn btn-outline-primary">{{ name }}</button>
</template>

<script>
export default {
  name: "AddButton",
  props: {
    name: {
      type: String,
      required: true,
    },
  },
  methods: {
    openModal() {
      this.$store.commit('setModalVisibility', true);
      this.$store.commit('setModalMode', 'Add');
    },
  }
}
</script>

<style scoped>

</style>
