<template>
  <div class="btn-group m-2 mx-4" role="group" :aria-label="label">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "ButtonGroup",
  data: () => ({
    label: 'Grupa przycisków'
  }),
  methods: {
    handleMovieDeleted() {
      this.$emit('movie-deleted');
    },
  }
}
</script>

<style scoped>

</style>
