<template>
  <button type="button" @click="deleteMovie" class="btn btn-outline-danger">{{ name }}</button>
</template>

<script>
export default {
  name: "DeleteButton",
  props: {
    name: {
      type: String,
      required: true,
    },
    movieId: {
      type: Number,
      required: true,
    },
  },
  methods: {
    deleteMovie() {
      const confirmDelete = confirm("Are you sure you want to delete this movie ?");
      if (confirmDelete) {
        this.$http.delete(`/movies/${this.movieId}`).then(() => {
          this.$emit('movie-deleted');
          this.$toastr.s('Movie deleted!');
        }).catch(() => {
          this.$toastr.e('Something go wrong');
        });
      }
    }
  }
}
</script>

<style scoped>

</style>
