<template>
  <button type="button" class="btn btn-outline-primary" @click="openModal">{{ name }}</button>
</template>

<script>
export default {
  name: "EditButton",
  methods: {
    openModal() {
      this.$store.commit('setModalVisibility', true);
      this.$store.commit('setModalMode', 'Edit');
      this.$store.commit('setMovieId', this.movieId);
    },

  },
  props: {
    name: {
      type: String,
      required: true,
    },
    movieId: {
      type: Number,
      required: true,
    },
  }
}
</script>

<style scoped>

</style>
