<template>
  <transition name="modal-fade">
    <div v-show="isModalVisible">
      <div class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ title }}</h5>
              <button type="button" class="btn-close" @click="closeModal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <MovieForm ref="movieForm" :formData="formData"/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" @click="closeModal">Close</button>
              <button type="button" class="btn btn-primary" @click="saveChanges">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import MovieForm from "@/components/MovieForm";

export default {
  name: "ModalTemplate",
  components: {
    MovieForm
  },
  data: () => ({
    movieId: null,
    title: null,
    formData: null
  }),

  computed: {
    isModalVisible() {
      return this.$store.state.isModalVisible;
    },
    mode() {
      return this.$store.state.mode;
    },
    getMovieId() {
      return this.$store.state.movieId;
    }
  },
  methods: {
    closeModal() {
      this.$store.commit('setModalVisibility', false);
      this.$store.commit('setModalMode', null);
      this.$store.commit('setMovieId', null);
      setTimeout(() => {
        this.formData = null;
      }, 300);
    },
    fetchDataForEdit() {
      this.$http.get(`/movies/${this.getMovieId}`).then(response => {
        this.formData = response.data
      }).catch(() => {
        this.$toastr.e(`Cant load movie with id ${this.getMovieId}`);
      });
    },
    saveChanges() {
      this.$refs.movieForm.resetErrors();
      this.$refs.movieForm.handleSubmit().then((validationResult) => {
        if (validationResult) {
          this.$emit('movie-changes-saved');
        }
      })
    }
  },
  watch: {
    mode(newMode) {
      if (newMode === 'Edit') {
        this.fetchDataForEdit();
        this.title = 'Edit movie'
        this.movieId = this.getMovieId;
      } else {
        this.title = 'Add new Movie'
      }
    },
  },
}
</script>

<style scoped>
.modal {
  display: block;
}

.modal-fade-enter-active, .modal-fade-leave-active {
  transition: opacity 0.5s;
}

.modal-fade-enter, .modal-fade-leave-to {
  opacity: 0;
}
</style>
