<template>
  <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Director</th>
      <th scope="col">Year</th>
      <th scope="col">Rate</th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(movie, index) in this.movies" :key="index">
      <th scope="row">{{ movie.id }}</th>
      <td>{{ movie.title }}</td>
      <td>{{ movie.director }}</td>
      <td>{{ movie.year }}</td>
      <td>{{ movie.rate }}</td>
      <td class="text-center">
        <ButtonGroup>
          <EditButton :name="'Edit'" :movieId="movie.id"/>
          <DeleteButton :name="'Delete'" :movieId="movie.id" @movie-deleted="handleMovieDeleted"/>
        </ButtonGroup>
      </td>
    </tr>
    </tbody>
  </table>
</template>


<script>
import ButtonGroup from "@/components/ButtonGroup";

export default {
  name: "MovieTable",
  components: {ButtonGroup},
  data: () => ({
    movies: []
  }),
  methods: {
    loadMovies() {
      this.$http.get("/movies")
          .then(response => {
            this.movies = response.data;
          })
          .catch(() => {
            this.$toastr.e('Cant load movies');
          });
    },
    handleMovieDeleted() {
      this.loadMovies()
    },


  },
  mounted() {
    this.loadMovies();
  },
}
</script>

<style scoped>
</style>
