<template>
  <form class="container mt-4" @submit.prevent="handleSubmit">
    <div v-if="formDataLocal.id" class="mb-3 row">
      <label for="Id" class="col-sm-2 col-form-label">Id</label>
      <div class="col-sm-10">
        <input v-model="formDataLocal.id" class="form-control" type="text" id="Id" disabled>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="Title" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input v-model="formDataLocal.title" class="form-control" type="text" id="Title" placeholder="Enter the title">
        <div v-if="showErrors.title" class="text-danger text-sm-start">
          {{ v$.formDataLocal.title?.$errors[0]?.$message }}
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="Director" class="col-sm-2 col-form-label">Director</label>
      <div class="col-sm-10">
        <input v-model="formDataLocal.director" class="form-control" type="text" id="Director"
               placeholder="Enter the director's name">
        <div v-if="showErrors.director" class="text-danger text-sm-start">
          {{ v$.formDataLocal.director?.$errors[0]?.$message }}
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="Rate" class="col-sm-2 col-form-label">Rate</label>
      <div class="col-sm-10">
        <input v-model="formDataLocal.rate" class="form-control" type="number" id="Rate" placeholder="Enter the rating">
        <div v-if="showErrors.rate" class="text-danger text-sm-start">
          {{ v$.formDataLocal.rate?.$errors[0]?.$message }}
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="Year" class="col-sm-2 col-form-label">Year</label>
      <div class="col-sm-10">
        <input v-model="formDataLocal.year" class="form-control" type="number" id="Year"
               placeholder="Enter the release year">
        <div v-if="showErrors.year" class="text-danger text-sm-start">
          {{ v$.formDataLocal.year?.$errors[0]?.$message }}
        </div>
      </div>
    </div>
  </form>
</template>
<script>
import {useVuelidate} from '@vuelidate/core'
import {required, between, maxLength} from '@vuelidate/validators'

export default {
  setup() {
    return {v$: useVuelidate()}
  },
  name: "MovieForm",
  props: {
    formData: {
      type: Object,
      required: false,
    },
  },
  data: () => ({
    formDataLocal: {
      title: '',
      director: '',
      rate: null,
      year: null,
    },
    showErrors: {},
  }),
  validations: () => ({
    formDataLocal: {
      title: {required, maxLength: maxLength(200)},
      director: {required},
      rate: {required},
      year: {required, between: between(1900, 2200)}
    }
  }),
  methods: {
    async handleSubmit() {
      const result = await this.v$.$validate()
      this.showErrors = {
        title: this.v$.formDataLocal.title?.$error,
        director: this.v$.formDataLocal.director?.$error,
        rate: this.v$.formDataLocal.rate?.$error,
        year: this.v$.formDataLocal.year?.$error,
      }
      if (!result) {
        this.$toastr.e('Please fill correct data');
        return false
      }

      try {
        if (this.formDataLocal.id) {
          await this.$http.put(`/movies`, this.formDataLocal).then(() => {
            this.$toastr.s('Movie updated!');
          }).catch(() => {
            this.$toastr.e('Something go wrong');
          });
        } else {
          await this.$http.post(`/movies`, this.formDataLocal).then(() => {
            this.$toastr.s('Movie created!');
          }).catch(() => {
            this.$toastr.e('Something go wrong');
          });
        }
      } catch (error) {
        this.$toastr.e('Something go wrong');
      }
      return true
    },
    resetErrors() {
      this.showErrors = {}
    },
  },
  watch: {
    formData: {
      handler(newFormData) {
        this.formDataLocal = {...newFormData};
      },
      immediate: true,
    },
  },
}
</script>

<style scoped>

</style>
