<template>
  <button type="button" @click="synchronize" class="btn btn-outline-dark">{{ name }}</button>
</template>

<script>
export default {
  name: "SynchronizeButton",
  props: {
    name: {
      type: String,
      required: true,
    },
  },
  methods: {
    synchronize() {
      this.$emit('movies-synchronize');
    }
  }
}
</script>

<style scoped>

</style>
