<template>
  <div id="app">
    <div class="card mx-2">
      <div class="card-title text-center py-2 my-0">
        <div class="row w-100">
          <div class="col-8 offset-2 my-2">
            <span class="h3 mx-auto ">Movies</span>
          </div>
          <div class="col-2">
            <ButtonGroup>
              <SynchronizeButton @movies-synchronize="handleSynchronize" :name="'Synchronize movies'"/>
              <AddButton :name="'Add movie'"/>
            </ButtonGroup>
          </div>
        </div>
      </div>
      <div class="card-body py-0">
        <MovieTable ref="movieTable"/>
      </div>
    </div>
    <ModalTemplate ref="modalTemplate" @movie-changes-saved="handleMovieChangesSaved"/>
  </div>
</template>

<script>
import MovieTable from './components/MovieTable'
import ButtonGroup from './components/ButtonGroup'

export default {
  name: 'App',
  components: {
    MovieTable,
    ButtonGroup
  },
  methods: {
    handleMovieChangesSaved() {
      this.$refs.movieTable.loadMovies();
      this.$refs.modalTemplate.closeModal();
    },
    handleSynchronize() {
      this.$http.get(`/movies/synchronizeMovies`).then(() => {
        this.$toastr.s('Movie synchronized!');
        this.$refs.movieTable.loadMovies();
      }).catch(() => {
        this.$toastr.e('Something go wrong');
      });
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
